{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Infoweb Layout</title>
        <!-- <link rel="stylesheet" href="{% static 'infoweb/styles.css' %}"> -->
    </head>
    <body>
        <header>
            <h1>Revolving Sources</h1>
        </header>
        <main>
            {% block body %}
            <!-- All Content will be injected here -->
            {% endblock %} 
        </main>
        <footer>
    <div class="pt-8 border-t border-slate-800 flex flex-col md:flex-row justify-between items-center gap-4">
        <p class="text-slate-500 text-sm">
            © {% now "Y" %} Revolving Sources. All rights reserved.
        </p>
    </div>
</footer>
    </body>